@{
    ViewData["Title"] = "Home Page";
}

<!--Emma Haynes 4-1-21
    View lists out the information for each bowler-->

@model IndexViewModel

<h2>Bowling League Roster</h2>
<h3>@Model.TeamName</h3>

@foreach (var x in Model.Bowlers)
{
    <p>@x.BowlerFirstName @x.BowlerMiddleInit @x.BowlerLastName: @x.BowlerAddress @x.BowlerCity, @x.BowlerState @x.BowlerZip @x.BowlerPhoneNumber</p>
}

<div page-info="@Model.PageNumberingInfo" page-url-mealtype="@Model.TeamName">

</div>